
body{
    padding: 0;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form{
    padding: 5%;
    display: flex;      
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: rgba(19, 61, 179, 0.836);
    height: 300px;
    width: 400px;
    border-radius: 5%;
    gap: 20px;
    border: solid rgb(0, 0, 0) 2px;
    
    
}



input{
    font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;    
  border-radius: 5px;
  color: rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
  text-align: center;
}
button{
    background-color: rgb(5, 87, 18);
    border-radius: 5px ;
    width: 150px;
    height: 50px;
    font-size: 19px;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.form-remove{
    padding: 5%;
    display: flex;      
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: rgba(19, 61, 179, 0.836);
    height: 300px;
    width: 400px;
    border-radius: 5%;
    gap: 20px;
    border: solid rgb(0, 0, 0) 2px;
    
}

